@media only screen and (max-width:0px ) {
   html {
    font-size: 8px;
    }
  }
  @media only screen and (max-width:320px ) {
    html {
     font-size: 8px;
     }
     .social-one{
      padding: 4px;
      width: 30px;
    }
   }
   @media only screen and (max-width:576px ) {
    html {
     font-size: 10px;
     }
   }
   @media only screen and (max-width:768px ) {
    html {
     font-size: 12px;
     }
    
   
   }
   @media only screen and (max-width:992px ) {
    html {
     font-size: 14px;
     }
     header{
         background-color: #fff;
     }
     .header-container{
        display: none;
    }
    .header-responsive-container{
      display: inline-flex;

    
    }
    .section-map-item{
      height: auto;
      width: auto;
      max-height: none;
    }
    .section-list{
      
      display: inline-block;
    }
    .section-list-b{
      padding-left: 2rem;
    }
    .section-button-c{

   align-items: center;
    }
    .card-text1{
      display: none;
    }
    .card-dört-text-kapsa {
      grid-template-columns:1fr;
    }
    .section-input-kapsa{
     
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: none;
      grid-gap: 30px;
      gap: 30px;
    }
    .e-form-inline{
      display: block;
  }

  .footer-one-top-section-center{
  display: none;
  }
  .footer-one-top-section-right{
   display: none;
  }

  .footer-one-top-section-left{
    margin: 0 auto;
    width: 92.5%;
   }
   .products {
    justify-content: center;
}
   }
   @media only screen and (max-width:1200px ) {
    html {
     font-size: 15px;
     }
     .section-container{
        text-align: center;
        background-size: cover;
        flex-wrap: wrap;
     }
     .slide-image img{
         float: right;
     }
   }
   @media only screen and (max-width:1400px ) {
    html {
     font-size: 15px;
     }
   }







   @media only screen and (min-width: 1200px){
     .section-container{
      margin: 0 auto!important;
     }
   } 
   @media only screen and (min-width: 576px){
    .footer-one-top-section{
    
    width: 92.5%;
}
.social-one{
  padding: 10px;
    width: 44px;
}
}

@media only screen and (min-width: 320px){
  .social-one{
    padding: 4px;
    width: 30px;
  }
}